*{
    margin: 0;
    padding: 0;
    font-family: inter;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 2rem;
    text-align: center;
}

.profile {
    color: #212121;
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.profile img {
    width: 2rem;
    border-radius: 50%;
}

.profile p {
    font-size: .9rem;
    font-weight: 500;
}

/* .profile p a {
    color: #212121;
    text-decoration: none;
} */

hr {
    width: 80%;
    margin: .8rem 0px;
}

.bottom {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom .icon-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.bottom .icons {
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: 1px solid #456FDB;
    border-radius: 50%;
}

.bottom .icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: #192733;
    color: white;
    opacity: .8;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
  }
  
#top {
    top: -40px;
    right: -310%;
}
  
.copy {
    position: relative;
}

#btn {
    display: block;
    background-color: #fff;
    color: #0047FF;
    font-size: .9rem;
    font-weight: 500;
    padding: 8px;
    border: 1px solid #0047FF;
    border-radius: 7px;
    cursor: pointer;
}

#btn:active{
    color: #fff;
    background-color: #0047ff;
}

@media (max-width:525px) {
    .quote{
        font-size: 1.5rem;
    }

    .profile img {
        width: 1.5rem;
    }

    .profile p {
        font-size: .7rem;
    }

    .bottom .icon-box{
        flex-direction: column;
    }
}

