* { 
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: inter;
}

.container {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 30%;
}

h1 {
    font-size: 32px;
}

p {
    font-size: 12px;
    margin: 5px 0px 15px 0px;
}

.btn {
    width: auto;
    background-color: #0075FF;
    border-radius: 7px;
    padding: 8px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}